
.user-title i.fa-hashtag{
    font-size: 1.6rem;
    color: #000;
    font-weight: 900;
}
.user-title  span i.fa-angle-down{
    font-size: 1.2rem;
    color: #6e6c6c;
    font-weight: 900;
    margin-right: .5rem;
}
.user-title .subtitle{
    font-size: 1.4rem;
    font-weight: 400;
    color: rgb(188,171,188);
}
.general-message.inbox-message{
    padding: 0;
}
.general-message .user-replies{
    padding:.5rem;
    border-top: .1rem solid #dddddd;
    margin: 1.5rem 0;
}
.general-users{
    position: relative;
    width: 10rem;
    border: .1rem solid #dddddd;
    padding: .3rem;
    border-radius:.3rem;
}
.general-message .post-date {
    position: sticky;
    top: 8%;
    max-width: 25%;
    width: fit-content;
    margin: auto;
    font-size: 1.3rem;
    font-weight: 600;
    color: #1D1C1D;
    background: #fff;
    padding: .5rem 1.5rem;
    border-radius: 3rem;
    text-align: center;
    border: .1rem solid #dddddd;
    z-index: 1919;
    margin-top: -2rem;
}
.general-message .user-replies:hover.user-replies .thread-action{
    display: block!important;
}
.general-message .user-replies:hover{
    background: #F8F8F8;
}
.general-users .photos{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.general-message .message-sender {
    margin: 2rem 1rem 1rem;
}
.general-users .photos img{
    width: 2rem;
    border-radius: .4rem;
}
.general-users .photos .user-counts{
    font-size: 1.4rem;
}
.general-message .sender-info p{
    display: flex;
    align-items: center;
    padding:.3rem 0;
    font-size: 1.3rem;
    color: #868686;;
}
.general-message .sender-info p i{
    font-size: 1.3rem;
    margin-left: .5rem;
}
.general-message .post-title{
    font-size: 1.5rem!important;
    color: #000!important;
    font-weight: 600;
}
.user-share-photo {
    width: 95rem;
    margin: auto;
}
.user-share-photo .row{
    flex-wrap: wrap;
    justify-content: flex-start;
}
.user-share-photo .photo-item{
    position: relative;
    width: 24%;
    margin-right: 1%;
    margin-bottom: .5rem;
    cursor: pointer;
}
.photo-overlay{
    display: none;
    background: #fff;
    padding: .5rem;
    border-radius: .8rem;
}
.photo-overlay ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photo-overlay ul li{
    padding:.3rem .8rem;
}
.photo-overlay ul li i{
    font-size: 1.6rem;
    color: #a5a2a2;
}
.photo-overlay ul li:hover{
    background: #F6F6F6;
}
.user-share-photo .photo-item .photo-overlay{
    position: absolute;
    top: 5%;
    left: 50%;
}
.user-share-photo .photo-item img{
    width: 100%;
    height:25rem;
    border-radius: 1rem;
    cursor:zoom-in;
}
.user-share-photo .photo-item:hover .photo-overlay{
    display: block;
}
.reactions{
    padding: .5rem;
}
.share-post{
    border-left:.4rem solid #dddddd;
    padding-left: 1rem;
}
.share-post .site-domain{
    display: flex;
    align-items: center;
}
.share-post .site-domain img{
    width: 2rem;
    height:1.5rem;
}
.post-sub-title{
    width: 40%;
    color: #1164A3;
}
.post-description{
    display: flex;
}
.post-description p{
    width: 60%;
    font-size: 1.5rem;
    padding-bottom:1rem ;
}
.post-description img{
    width: 15rem;
    margin-top: -5rem;
    padding:0 1rem;
}
.post-description.with-photo p{
    width: 40%;
}