/*
-----------------------------------------------------
---------- inbox section  style  ---------------
-----------------------------------------------------
*/
.inbox-container{
    width: 100%;
}
.inbox-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.4rem;
    border-bottom: .1rem solid #dddddd;
}
.inbox-header .user-photo{
    margin-left: initial;
}
.inbox-header .user-title{
    font-size: 2rem;
    font-weight: 700;
    margin-left:1rem;
}
.inbox-header .user-title span i{
    font-size: 1.4rem;
}
.inbox-header .user-status {
    width: 1.5rem;
    height: 1.5rem;
    border: .2rem solid #ffffff;
}
.inbox-header .user-wrapper{
    display: flex;
}
.inbox-header .user-action span i{
    font-size: 1.6rem;
  color: #949494;
  cursor: pointer;
}
.inbox-message{
    height: 70vh;
    padding:1rem 1.4rem;
    overflow: auto;
}
.inbox-footer{
    width:98%;
    margin: auto;
    padding: 1rem;
    border: .1rem solid #dddddd;
    box-shadow: 0 0 .1rem #dddddd;
}
.inbox-footer .message-box{
    width: 100%;
}

.inbox-footer .message-box textarea{
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    resize: none;
}












/*
-----------------------------------------------------
---------- customize scrollbar style ---------------
-----------------------------------------------------
*/
.inbox-message::-webkit-scrollbar{
    width: .8rem;
    background-color: transparent;
}
.inbox-message::-webkit-scrollbar-thumb{
    visibility: hidden;
    background-color:#967B96;
    border-radius: 1rem;
    transition: all 3s;
}
.inbox-message:hover.inbox-message::-webkit-scrollbar-thumb{
    visibility: visible;
}