*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
html{
    font-size: 62.5%;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    overflow: hidden;
}
.container{
    max-width: 1330px;
    width: 100%;
    margin: auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a,a:hover{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.hide{
    display: none!important;
}
.show{
    display: block!important;
}
/*
-----------------------------------------------------
---------- HEADER SECTION STYLE ---------------
-----------------------------------------------------
*/
#header-section{
    width: 100%;
    background: #350D36;
    padding: .6rem 0;
}
.history{
    width: 17%;
    text-align: end;
}
.history img{
    font-size: 1rem;
    color: #E4DFE4;
    height: 100%;
    padding:.4rem;
    border-radius: .3rem;
}
.history img:hover{
    background: #644565;
    color: #E4DFE4;
    cursor: pointer;
}
.search-box{
    width:56%;
    margin-left: 1%;
}
.input-box{
    width:100%;
    position: relative;
}
.input-box input{
    width: 100%;
    border: none;
    outline: none;
    color: #EFEBEF;
    background: #644565;
    padding:.7rem;
    border-radius: .3rem;
}
.input-box input::placeholder{
    color: #EFEBEF;
}
.search-iconbar {
    display: flex;
    position: absolute;
    right: 1%;
    top: 18%;
}
.search-iconbar span{
    font-size: 1.4rem;
    margin-left: .5rem;
}
.search-iconbar span.search{
    color: #AA99AA;
}
.search-iconbar span.filter-icon{
    color: #dadada;
}
.user-account{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.user-account .help-icon{
    font-size: 1.4rem;
    color: #E4DFE4;
    height: 100%;
    padding:.4rem;
    border-radius: .3rem;
}
.user-account .help-icon:hover{
    background: #644565;
    color: #E4DFE4;
    cursor: pointer;
}
.user-photo{
    position: relative;
    margin-left:1.2rem;
    cursor: pointer;
}
.user-photo img{
    width:2.6rem;
    height:2.6rem;
    object-fit: cover;
    border-radius: .3rem;
}
.user-photo .user-status{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: -20%;
    bottom: -1px;
    border: .3rem solid #350D36;
    border-radius: 50%;
    background: #2BAC76;
}
/*
-----------------------------------------------------
---------- SIDEBAR SECTION STYLE ---------------
-----------------------------------------------------
*/
#sidebar-section{
    position: relative;
    width: 19%;
}
.sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%; 
    background: #3F0E40!important;
    padding: 1rem;
    background-color: initial;
    cursor: pointer;
    border-top: 1px solid rgb(82,38,83);
    border-bottom: 1px solid rgb(82,38,83);
    z-index: 99999;
}
.sidebar-title h3 {
    font-size: 1.8rem;
    color: #FFFFFF;
    font-weight: 600;
    text-shadow: .1rem 0rem 0 #e2d5d5;
}
.sidebar-title h3 i{
    font-size: 1.2rem;
    margin-left: .2rem;
}
.sidebar-title .new-message{
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.3rem;
    text-align: center;
    border-radius:50%;
    background: #FFFFFF;
}
.sidebar-title .new-message sapn{
    font-size: 1.4rem;
}
.sidebar-menu{
    height: 100vh;
    padding-bottom: 5rem;
    background: #3F0E40;
    overflow: auto;
    padding: .8rem 0 5rem;
}
ul.sidebar-top-item li{
    position: relative;
}
ul.sidebar-top-item li a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.6rem;
    color: #b1a3b1;
    font-weight: 400;
    margin-top: .4rem;
    padding: .4rem 1.5rem;
}
ul.sidebar-top-item li a:hover{
    background: #350D36;
}
ul.sidebar-top-item li a:hover .extra-options span{
    visibility: visible;
 }
ul.sidebar-top-item li:last-child a{
    color: #817881;;
}
.sidebar-top-item li a img{
    /* width:1.6rem;
    height: 1.5rem; */
    margin-right: .9rem;
}
ul.sidebar-top-item li a span{
    font-size: 1.4rem;
    margin-right: .9rem;
}
ul.sidebar-top-item li.more{
    margin-bottom: 1rem;
    margin-left: .8rem;
}
ul.sidebar-top-item li.channel,
ul.sidebar-top-item li.direct-msg{
    margin-bottom: .1rem;
}
ul.sidebar-top-item li.more a:hover{
    color: #FFFFFF;
    background: transparent;
}

ul.sidebar-top-item li.channel a:hover{
    background: transparent;
}
ul.sidebar-top-item li.direct-msg a:hover{
    background: transparent;
}
ul.sidebar-top-item li.app a:hover{
    background: transparent;
}
/* sidebar sub item menu */
.sidebar-sub-menu{
    width: 100%;
    display: none;
}
.sidebar-sub-menu ul li{
    margin-bottom: .5rem!important;
}
.sidebar-sub-menu ul li a{
    padding-left: 3rem!important;
}
.sidebar-sub-menu ul li:last-child a{
        color: #b1a3b1!important;
}
.sidebar-sub-menu ul li:last-child a span{
    background: #4A264A;
    padding: .4rem .6rem;
    border-radius: .3rem;
}
.sidebar-sub-menu ul li a.personal{
    color: #817881;
}
.sidebar-sub-menu ul li a span i{
    font-size: 1rem!important;
}
.sidebar-sub-menu ul li a:hover{
    background: #350D36!important;
}
.sidebar-sub-menu ul li a:hover .extra-options{
   visibility: visible;
}
.sidebar-sub-menu ul li .user-photo{
    margin-left: initial;
    margin-right: .5rem;
}
.sidebar-sub-menu ul li .user-photo img{
    width: 2.2rem;
    height: 2.2rem;
    margin-right: initial;
}
.sidebar-sub-menu ul li span.user-name{
    margin-left: .5rem;
}
.sidebar-sub-menu ul li .user-photo .user-status{
    width: 1.3rem;
    height: 1.3rem;
}
.self-user{
    font-size: 1.6rem!important;
    margin-left: 1rem;
    color: #817881;
}
.extra-options{
    position: absolute;
    left: 70%;
}
.extra-options span {
    color: #b1a3b1;
    padding: .4rem .6rem;
    border-radius:.3rem;
    visibility: hidden;
}
.extra-options span:hover{
    background: #532753;
}
.extra-options span:first-child{
    padding: .4rem 1.1rem;
}
/*for sub list item on direct msg*/
.sidebar-sub-menu .extra-options{
    left: 85%;
}
.sidebar-sub-menu .extra-options span i{
    font-size: 1.8rem!important;
    color: #BCABBC;
}
.sidebar-sub-menu .extra-options span:hover{
    background: transparent;
}
.sort-icon {
    display: flex;
}
.sort-icon img:last-child{
    display: none;
}
#main-content{
    width: 81%;
    padding: 1rem;
    overflow: auto;
}
#main-content-wrapper .row{
    align-items: flex-start;
}

/*
-----------------------------------------------------
---------- customize scrollbar style ---------------
-----------------------------------------------------
*/
.sidebar-menu::-webkit-scrollbar{
    width: .8rem;
    background-color: transparent;
}
.sidebar-menu::-webkit-scrollbar-thumb{
    background-color:#967B96;
    border-radius: 1rem;
}

/*
-----------------------------------------------------
---------- MAIN CONTENT STYLE ---------------
-----------------------------------------------------
*/
.unread-message{
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center  ;
}
.unread-message h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: #1D1C1D;
}


.child-1{
    display: none;
}