.threads-container {
    height: 100vh;
    background: #F8F8F8;
    padding: 1.5rem 1.5rem;
    overflow: auto;
}
.thread-body{
    position: relative;
    background: #ffffff;
    border: .1rem solid #dddddd;
    padding: 1.2rem;
    border-radius: 1.5rem;
}
.user-replies .message-sender{
    position: relative;
}
.thread-body .inbox-message{
    height: auto;
    padding: 0;
    overflow: initial;
}
.thread-body .message-sender{
    margin:0;
}
.thread-body .message-sender:hover{
    background: #F8F8F8;
    padding: 1rm;
}
.thread-body .message-sender .photo img{
    width: 3.5rem;
    height: 3.5rem;
}
.thead-mention{
    display: inline-block;
    border-radius: .3rem;
    padding: .2rem;
    font-weight: 700;
    color: #1D1C1D;
    background: #F6E5B0;
    text-transform: lowercase;
    margin: .5rem 0 .2rem;
}
.thread-body .sender-info p{
    padding:0;
}
.thread-body #send-btn{
    border-right:0
}
.thread-from {
    padding: 0 1.2rem;
}
.thread-from h4 a{
    font-size: 1.4rem;
    font-weight: 900;
    color: #575257;
}
.thread-from h4 i{
    font-size: 1rem;
    color: #1D1C1D;
}
.thread-from p{
    font-size: 1.3rem;
    color: #6b6b6b;
    padding: .3rem 0 1.4rem;
}
.show-more-title {
    display: inline-block;
    margin: 1.2rem 0;
}
.user-replies .message-sender {
    margin-bottom: 1rem;
}
.user-replies .message-sender:hover{
    background: #F8F8F8;
    padding: .5rm;
}
.thread-action{
    position: absolute;
    right: 10%;
    top: -2rem;
    display: none;
}
.user-replies .message-sender:hover .thread-action{
    display: block;
}
.thread-body .message-sender:hover .thread-action{
    display: block;
}
.thread-action .popup-info{
    width: 20rem;
    background: #fff;
    padding: .5rem;
}
.thread-action .popup-info ul{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.thread-action .popup-info ul li{
    cursor: pointer;
}
.thread-action .popup-info ul li img{
    width:100%;
}
.popup-info.emoji-popup{
    display: none;
    position: absolute;
    top: -12rem;
    right:1%;
    width: 35rem;
    z-index: 9999999999;
}
.popup-info.emoji-popup img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.single-thread{
    margin-bottom: 2.5rem;
}
.single-thread:last-child{
    padding-bottom: 8rem;
}
.thread-body .inbox-footer{
    width: 100%;
}
.input-check {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem .0;
}
.input-check input {
    margin-right: .8rem;
}
.input-check span {
    color: #6b6b6b;
    font-size: 1.4rem;
    font-weight: 400;
}
.input-check .thread-from {
    padding: 0 .5rem;
}
.show-more-users{
    display: none;
}
/*
-----------------------------------------------------
---------- customize scrollbar style ---------------
-----------------------------------------------------
*/
.threads-container::-webkit-scrollbar{
    width: .8rem;
    background-color: transparent;
}
.threads-container::-webkit-scrollbar-thumb{
    background-color:#967B96;
    border-radius: 1rem;
}