.workspace .user-title{
    font-size: 1.5rem;
    font-weight: 900;
}
.workspace .user-title i{
  margin-right: .3rem;
}
.workspace .post-title{
  font-weight: 400;
}
.workspace .thread-replies {
    max-width: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .4rem;
    border-radius: .3rem;
    border: .1rem solid transparent;
}
.workspace .thread-replies:hover{
    background: #fff;
    border: .1rem solid #dddddd;
    border-radius: .5rem;
    cursor: pointer;
}

.workspace .user-lists{
    width: 100%;
    display: flex;
    align-items: center;
}
.single-user{
    width: 2.2rem;
    height: 2.3rem;
    position: relative;
    border-radius: .4rem;
    margin-right: .3rem;
    overflow: hidden;
}
.single-user .overlay-text{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    background: #333333;
}
.workspace .user-lists img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.single-user .overlay-text span{
    font-size: 1.4rem;
}
.workspace .user-lists a {
    color: #224C8C;
    margin:0 1rem;
}
.workspace .user-lists .last-replay{
    font-size: 1.3rem;
    color:#6e6c6c ;
    cursor: pointer;
}
.view-replies-icon{
    padding-right: .5rem;
}
.view-replies-icon i{
    font-size: 1.2rem;
    color: #6e6c6c;
    visibility: hidden;
}
.workspace .thread-replies:hover .view-replies-icon i{
    visibility: visible;
}
.view-thread{
    width:28%;
    margin-left: 1%;
    display: block;
    background: #fff;
    border-left: .1rem solid #dddddd;
}
.view-thread .thread-body{
    width: 100%;
    height: 85vh;  
    overflow: auto;
    border: 0;
}
.view-thread .thread-body .inbox-footer{
    margin-top: 1rem;
}
.view-thread .thread-action .popup-info{
    max-width: 20rem;
    width: fit-content;
}
.view-thread .thread-action .popup-info ul li{
    margin-right: 1rem;
}
.view-thread .thread-action .popup-info ul li:last-child{
    margin-right: 0;
}
.view-thread .thread-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid #dddddd;
    padding:.75rem 1rem;
}
.thread-dismiss{
    cursor: pointer;
}
.thread-header .user-title {
    font-size: 1.8rem;
    font-weight: 900;
}
.thread-header .user-title span{
    font-size: 1.6rem;
    font-weight: 500;
    color: #494949;
    margin-left: .5rem;
}
.thread-header .user-title span i{
    font-size: 1.2rem;
}














/*
-----------------------------------------------------
---------- customize scrollbar style ---------------
-----------------------------------------------------
*/
.view-thread .thread-body::-webkit-scrollbar{
    width: .8rem;
    background-color: transparent;
}
.view-thread .thread-body::-webkit-scrollbar-thumb{
    background-color:#967B96;
    border-radius: 1rem;
}